@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'IBM Plex Serif', 'Times New Roman', Times, serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: black;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    text-align: -webkit-match-parent;
}

canvas {
    display: block;
}

#backgroundMatrix {
    position: absolute;
    z-index: -1;
}

#apresentation-container {
    width: fit-content;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    padding: 23px;
    border-radius: 23px 47px;
    color: #F7BB2A;
    background-color: #711F8C;
    font-size: 3rem;
    animation: text_reveal_box .5s ease forwards;
    animation-delay: 1.5s;
}

#my-socials {
    z-index: 1001;
    position: fixed;
    left: 0;
    top: calc(50% - (275px / 2));
    width: 55px;
    height: 275px;
}
.my-socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 55px;
    padding-left: 20px;
    margin-left: -20px;
}
.my-socials span {
    background: url(./socials-icon.svg);
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    display: block;
    width: 35px;
    height: 35px;
    text-indent: -9999rem;
    background-size: 100% auto;
}
.my-socials .github {
    background-color: #4e545a;
    transition: transform 425ms cubic-bezier(.05,.65,.18,1);
    transition-property: transform;
    transition-duration: 425ms;
    transition-timing-function: cubic-bezier(0.05, 0.65, 0.18, 1);
    transition-delay: 0s;
}
.my-socials .linkedin {
    background-color: #0077ba;
}
.my-socials .twitter {
    background-color: #3299ff;
}